/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #e0cd95;
}

/* Estilos para las cards del menú */
#a-comedor div.card {
    background-color: rgb(46, 104, 89) !important;
    color: white !important;
}
#a-cocina div.card {
    background-color: rgb(175, 99, 0) !important;
    color: white !important;
}
#a-caja div.card {
    background-color: rgb(14, 68, 0) !important;
    color: white !important;
}
#a-mesas div.card {
    background-color: rgb(139, 69, 19) !important;
    color: white !important;
}
#a-reservas div.card {
    background-color: rgb(255, 140, 0) !important;
    color: white !important;
}
#a-platos div.card {
    background-color: rgb(220, 20, 60) !important;
    color: white !important;
}
#a-categorias div.card {
    background-color: rgb(34, 139, 34) !important;
    color: white !important;
}

nav {
    background-color: #56070c;
    color: white;
}
/* Card Zoom Effect */  
.card-zoom {
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 2rem;
}

.card-zoom:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-zoom i, .card-zoom .material-symbols-outlined {
     font-size: 3rem;
     display: block;
     margin-bottom: 1rem;
     margin-inline: auto;
}

.card-header i, .card-header .material-symbols-outlined {
    font-size: 3rem;
    display: block;
    margin-bottom: 1rem;
    margin-inline: auto;
}

.datos-mesa {
    font-size: 9pt;
    display: block;
    margin-bottom: 1rem;
    margin-inline: auto;
}